body {
	background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 120, 1) 100%);
}

.comps {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}

.parent-app {
	text-align: center;
}

@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('../styles/SEGA.woff') format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color: #0ccac4;
}
