body {
	background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 120, 1) 100%);
}

.comps {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}

.parent-app {
	text-align: center;
}

